<html>
    <head>
        <title>Uzay'in blogu</title>
    </head>
    <body>
        <div>
            <h1><a href="http://peyderpey.net/">Uzay'ın Bloğu</a></h1>
        </div>

		{% for post in posts %}
		    <div>
		        <p>published: {{ post.yayinlanma_tarihi }}</p>
		        <h3><a href="">{{ post.baslik }}</a></h3>
		        <p>{{ post.yazi|linebreaks }}</p>
		    </div>
		{% endfor %}
        <div>
            <p>published: 29.03.2017, 13:53</p>
            <h2><a href="http://peyderpey.net/">İlk Blogum</a></h2>
            <p>Çok heyecanlıyım! Bu benim ilk blogum. Ne kadar zevkli bir işmiş bilgisayarlarla uğraşmak. Artık bilgisayar başından kalkmam. </p>
        </div>

        <div>
            <p>published: 29.03.2017, 13:54</p>
            <h2><a href="http://peyderpey.net/">İkinci gönderim</a></h2>
            <p>Bir varmış bir yokmuş, evvel zaman içinde Ne kadar zevkli bir işmiş bilgisayarlarla uğraşmak. Artık bilgisayar başından kalkmam. kalbur saman içinde, develer tellal iken, pireler berber iken; ben annemin beşiğini tıngır mıngır sallar iken.</p>
        </div>
    </body>
</html>